html,
body {

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 18px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 90%;
	display: flex;
	justify-content: space-between;
}
